@media (max-width: 1600px) {
    

    
    main section.dev div.icons {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-basis: 10vh;
        margin-bottom: 40px;
    }

    main section.dev {
        height: 105vh;
    }
}

@media (max-width: 1300px) {

    main section.dev {
        height: 125vh;
    }
    

    main section.digitalalternate div.digiprojects {
        height: 145vh;
    }
}


@media (max-width: 820px) {
    main section.digitalalternate div.digiprojects {
        display: flex;
        height: 225vh;
        margin-top: 19vh;
        flex-direction: column
    }

    main section.digitalalternate div.digiprojects section:nth-child(2) {
        flex-direction: column;
        justify-content: flex-start;
    }

    main section.photo {
        height: 495vh;

    }

    main section.photo div.gallery {
        flex-basis: 450vh;
        justify-content: flex-start;
    }

    main section.photo div.gallery section {
        display: flex;
        flex-direction: column;
        flex-basis: 199vh;
    }

    main section.photo div.gallery section:nth-child(1) {
        display: flex;
        flex-direction: column;
        flex-basis: 79vh;
    }

    main section.photo div.gallery section:nth-child(1) div:nth-child(1) {
        flex-basis: 50%;
        background-image: url(images/img/IMG_5421.JPG);
    }

    main section.photo div.gallery section:nth-child(1) div:nth-child(2) {
        font-size: 22px;
        letter-spacing: 1.5px;
        line-height: 33px;
        flex-basis: 43%;

    }

    main section.photo div.gallery section:nth-child(2) div:nth-child(1) {
        flex-basis: 50%;
        background-image: url(images/img/IMG_7328.jpg);
    }
    
    main section.photo div.gallery section:nth-child(2) div:nth-child(2) {
        flex-basis: 20%;
        background-image: url(images/img/12.JPG);
    }
    
    main section.photo div.gallery section:nth-child(2) div:nth-child(3) {
        flex-basis: 20%;
        background-image: url(images/img/IMG_6734.JPG);
    }
}




@media (max-width: 700px) {
    main section.digitalalternate {
        flex-basis: 485vh;
    }

    main section.digitalalternate div.digiprojects {
        height: 465vh;
    }

    main section.digitalalternate div.digiprojects section:nth-of-type(1) {
        flex-basis: 29.33%;
    }

    main section.digitalalternate div.digiprojects section:nth-of-type(2) {
        flex-basis: 37.33%;
    }

    main section.photo {
        margin-top: 70vh;
        margin-bottom: 35vh;
    }

}

@media (max-width: 600px) {

    main section.dev {
        display: flex;
        flex-direction: column;
        height: 145vh;
        padding-top: 15vh;
    }


    main section.dev div.devprojects {
        flex-direction: column;
        flex-basis: 75vh;
        align-items: flex-start;
        justify-content: center;
        margin-top: 19vh;
    }

    main section.digitalalternate {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-basis: 485vh;
        margin-top: 20vh;
    }

    main section.digitalalternate div.digiprojects {
        height: 330vh;
    }

    main section.digitalalternate div.digiprojects section:nth-of-type(1) {
        flex-basis: 29.33%;
    }

    main section.digitalalternate div.digiprojects section:nth-of-type(2) {
        flex-basis: 37.33%;
    }

    main section.photo {
        margin-top: 90vh;
        margin-bottom: 35vh;
    }
}


@media (max-width: 500px) {
    main section.photo {
        margin-top: 140vh;
    }
}

@media (max-width: 400px) {
    main section.photo {
        margin-top: 190vh;
    }
}

@media (max-width: 320px) {
    main section.photo {
        margin-top: 230vh;
    }
}







@media (max-height: 900px) {

    header {
        height: 200vh;
    }

    main section.dev {
        height: 140vh;
        padding-top: 25vh;
    }
    
    main section.dev div.devprojects {
        flex-basis: 70vh;
        margin-top: 28vh;
    }

    main section.digitalalternate div.icons {
        margin-bottom: 80px;
        flex-basis: 20vh;
    }

    main section.digitalalternate {
        flex-basis: 190vh;
    }

    main section.digitalalternate div.digiprojects {
        height: 150vh;
        margin-top: 30vh;
    }
}

@media (max-height: 700px) {

    main section.digitalalternate {
        flex-basis: 460vh;
    }

    main section.digitalalternate div.digiprojects {
        height: 320vh;
        margin-top: 40vh;
    }
}

@media (max-width: 820px) and (max-height: 650px) {
    main section.digitalalternate {
        flex-basis: 485vh;
        margin-top: 50vh;
    }

    main section.digitalalternate div.digiprojects {
        height: 465vh;
    }

    main section.photo {
        margin-top: 140vh;
    }
}


@media (max-height: 900px) and (max-width: 400px) {

    header {
        height: 140vh;
    }

    main section.dev {
        height: 140vh;
        padding-top: 15vh;
    }
}

@media (max-height: 700px) and (max-width: 400px) {

    header {
        height: 140vh;
    }

    main section.dev {
        height: 170vh;
        padding-top: 35vh;
    }

    main section.dev div.icons {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-basis: 10vh;
        margin-bottom: 140px;
    }
}




@media (max-width: 820px) and (max-height: 520px) {
    header h1 {
        font-size: 35px;
        padding: 200px 0 100px 0;
    }

    header p {
        font-size: 15px;
    }

    header div {
        font-size: 35px;
        padding: 50px 30px 0px 30px;
    }

    header button i {
        font-size: 25px;
    }
    

    main section.dev {
        padding-top: 55vh;
    }

    main section.dev div.icons i {
        padding: 0 20px;
        font-size: 35px;
    }

    main section.dev div.devprojects div:nth-child(1) h2 {
        font-size: 50px;
        padding-bottom: 50px;
    }

    main section.dev div.devprojects div:nth-child(1) p {
        font-size: 11px;
        letter-spacing: 1.5px;
        line-height: 18px;
        margin-bottom: 10px;
    }

    main section.digitalalternate {
        margin-top: 90vh;
    }

    main section.digitalalternate div.icons i.fa-facebook-f,i.fa-google {
        font-size: 30px;
    }

    main section.digitalalternate div.icons i.fa-instagram {
        font-size: 36.5px;
        transform: translatey(1.5px);
    }

    main section.digitalalternate div.digiprojects section div {
        width: 80%;
        font-size: 11px;
        letter-spacing: 1.5px;
        line-height: 22px;
    }

    main section.digitalalternate div.digiprojects section div i {
        font-size: 100px;
    }

    main section.digitalalternate div.digiprojects aside div {
        width: 80%;
        font-size: 11px;
        letter-spacing: 1.5px;
        line-height: 22px;
    }

    main section.photo div:nth-child(1) i {
        padding: 0 15px;
        font-size: 35px;
    }

    main section.photo div.gallery section:nth-child(1) div:nth-child(2) {
        font-size: 11px;
        letter-spacing: 1.5px;
        line-height: 11px;
        flex-basis: 40%;
    }
}

@media (max-width: 820px) and (max-height: 430px) {
    main section.dev {
        height: 140vh;
        padding-top: 140vh;
    }

    main section.digitalalternate {
        margin-top: 120vh;
    }
}

@media (max-width: 820px) and (max-height: 330px) {
    main section.dev {
        padding-top: 190vh;
    }

    main section.digitalalternate {
        margin-top: 170vh;
    }
}

@media (max-width: 820px) and (max-height: 285px) {
    main section.dev {
        height: 140vh;
        padding-top: 270vh;
    }

    main section.digitalalternate {
        margin-top: 250vh;
    }
}

@media (max-width: 600px) and (orientation: portrait) {
    header h1 {
        font-size: 50px;
        padding: 200px 0 100px 0;
    }

    header p {
        font-size: 25px;
    }

    header div {
        font-size: 50px;
        padding: 50px 30px 0px 30px;
    }

    header button i {
        font-size: 40px;
    }
    

    main section.dev {
        padding-top: 55vh;
    }

    main section.dev div.icons i {
        padding: 0 20px;
        font-size: 50px;
    }

    main section.dev div.devprojects div:nth-child(1) h2 {
        font-size: 40px;
        padding-bottom: 50px;
    }

    main section.dev div.devprojects div:nth-child(1) p {
        font-size: 18px;
        letter-spacing: 1.5px;
        line-height: 28px;
        margin-bottom: 10px;
    }

    main section.digitalalternate {
        margin-top: 90vh;
    }

    main section.digitalalternate div.icons i.fa-facebook-f,i.fa-google {
        font-size: 40px;
    }

    main section.digitalalternate div.icons i.fa-instagram {
        font-size: 43.5px;
        transform: translatey(1.5px);
    }

    main section.digitalalternate div.digiprojects section div {
        width: 80%;
        font-size: 18px;
        letter-spacing: 1.5px;
        line-height: 28px;
    }

    main section.digitalalternate div.digiprojects section div i {
        font-size: 150px;
    }

    main section.digitalalternate div.digiprojects aside div {
        width: 80%;
        font-size: 18px;
        letter-spacing: 1.5px;
        line-height: 28px;
    }

    main section.photo div:nth-child(1) i {
        padding: 0 15px;
        font-size: 50px;
    }

    main section.photo div.gallery section:nth-child(1) div:nth-child(2) {
        font-size: 18px;
        letter-spacing: 1.5px;
        line-height: 28px;
        flex-basis: 40%;
    }
}

