@media (max-width: 1600px) {
    

    
    main section.dev div.icons {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-basis: 10vh;
        margin-bottom: 40px;
    }

    main section.dev {
        height: 105vh;
    }
}

@media (max-width: 1300px) {

    main section.dev {
        height: 125vh;
    }
    

    main section.digitalalternate div.digiprojects {
        height: 145vh;
    }
}


@media (max-width: 800px) {
    main section.digitalalternate div.digiprojects {
        display: flex;
        height: 225vh;
        margin-top: 19vh;
        flex-direction: column
    }

    main section.digitalalternate div.digiprojects section:nth-child(2) {
        flex-direction: column;
        justify-content: flex-start;
    }

    main section.photo {
        height: 495vh;

    }

    main section.photo div.gallery {
        flex-basis: 450vh;
        justify-content: flex-start;
    }

    main section.photo div.gallery section {
        display: flex;
        flex-direction: column;
        flex-basis: 199vh;
    }

    main section.photo div.gallery section:nth-child(1) {
        display: flex;
        flex-direction: column;
        flex-basis: 79vh;
    }

    main section.photo div.gallery section:nth-child(1) div:nth-child(1) {
        flex-basis: 50%;
        background-image: url(images/img/IMG_5421.JPG);
    }

    main section.photo div.gallery section:nth-child(1) div:nth-child(2) {
        font-size: 22px;
        letter-spacing: 1.5px;
        line-height: 33px;
        flex-basis: 43%;

    }

    main section.photo div.gallery section:nth-child(2) div:nth-child(1) {
        flex-basis: 50%;
        background-image: url(images/img/IMG_7328.jpg);
    }
    
    main section.photo div.gallery section:nth-child(2) div:nth-child(2) {
        flex-basis: 20%;
        background-image: url(images/img/12.JPG);
    }
    
    main section.photo div.gallery section:nth-child(2) div:nth-child(3) {
        flex-basis: 20%;
        background-image: url(images/img/IMG_6734.JPG);
    }
}

@media (max-width: 700px) {
    main section.digitalalternate {
        flex-basis: 485vh;
    }

    main section.digitalalternate div.digiprojects {
        height: 465vh;
    }

    main section.digitalalternate div.digiprojects section:nth-of-type(1) {
        flex-basis: 29.33%;
    }

    main section.digitalalternate div.digiprojects section:nth-of-type(2) {
        flex-basis: 37.33%;
    }

    main section.photo {
        margin-top: 70vh;
        margin-bottom: 35vh;
    }

}

@media (max-width: 600px) {

    main section.dev {
        display: flex;
        flex-direction: column;
        height: 145vh;
        padding-top: 15vh;
    }


    main section.dev div.devprojects {
        flex-direction: column;
        flex-basis: 75vh;
        align-items: flex-start;
        justify-content: center;
        margin-top: 19vh;
    }

    main section.digitalalternate {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-basis: 485vh;
        margin-top: 20vh;
    }

    main section.digitalalternate div.digiprojects {
        height: 330vh;
    }

    main section.digitalalternate div.digiprojects section:nth-of-type(1) {
        flex-basis: 29.33%;
    }

    main section.digitalalternate div.digiprojects section:nth-of-type(2) {
        flex-basis: 37.33%;
    }

    main section.photo {
        margin-top: 90vh;
        margin-bottom: 35vh;
    }
}

@media (max-width: 500px) {
    main section.photo {
        margin-top: 140vh;
    }
}

@media (max-width: 400px) {
    main section.photo {
        margin-top: 190vh;
    }
}

@media (max-width: 320px) {
    main section.photo {
        margin-top: 230vh;
    }
}







@media (max-height: 900px) {

    header {
        height: 200vh;
    }

    main section.dev {
        height: 140vh;
        padding-top: 25vh;
    }
    
    main section.dev div.devprojects {
        flex-basis: 70vh;
        margin-top: 28vh;
    }


    main section.digital {
        flex-basis: 215vh;
    }

    main section.digital div.icons {
        margin-bottom: 80px;
        flex-basis: 20vh;
    }

    main section.digitalalternate {
        flex-basis: 190vh;
    }

    main section.digitalalternate div.digiprojects {
        height: 150vh;
        margin-top: 30vh;
    }
}

@media (max-height: 700px) {
    main section.digital {
        flex-basis: 300vh;
    }

    main section.digital div.icons {
        margin-bottom: 80px;
        flex-basis: 30vh;
    }

    main section.digitalalternate {
        flex-basis: 460vh;
    }

    main section.digitalalternate div.digiprojects {
        height: 320vh;
        margin-top: 40vh;
    }
}